@model Retail.Models.AccountInformation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>AccountInformation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountBalance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableBalance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoldBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoldBalance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoldsTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoldsTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nickname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AccountNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
