@model IEnumerable<Retail.Models.AccountInformation>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nickname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoldBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoldsTotal)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoldBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoldsTotal)
            </td>
        </tr>
}
    </tbody>
</table>
